
.number {
    margin-top: -24px;
    margin-bottom: 20px;
}

.status {
    color: #00CCCC;
}

.dataPrice {
    display: flex;
    justify-content: space-between;

}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 76px;
    padding: auto;
  }

  .ElementsIngredients {
    overflow-y: scroll;
    max-height: 312px;
    scroll-snap-type: x proximity;
  }
  
  .ElementsIngredients::-webkit-scrollbar {
    width: 8px;
  }
  
  .ElementsIngredients::-webkit-scrollbar-track {
    background: #2f2f37;
  }
  
  .ElementsIngredients::-webkit-scrollbar-thumb {
    background-color: #8585ad;
    border: 3px solid #8585ad;
  }