{
  "parser": "@babel/eslint-parser",
    "extends": ["airbnb"],
    "rules": {
      "max-len": [1, 70, 2, { "ignoreComments": true }],
      "linebreak-style": ["error", "windows"],
      "multiline": "always",
      "quotes": ["error", "double", { "avoidEscape": true }],
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "import/prefer-default-export": "off"
    },
    "parserOptions": {
      "ecmaVersion": 8,
      "requireConfigFile": false
    },
    "no-restricted-imports": ["error", {
      "patterns": [".*"]
    }]
/*      "env": {
      "node": 1
    } */
/*     "@typescript-eslint/quotes": [
      "error",
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ] */
/*     "react/function-component-definition": [
      2,
      {
        "namedComponents": "function-expression"
       /*  "unnamedComponents": "arrow-function" 
      }
    ] */
  }