@font-face {
  src: url("../fonts/jetbrains-mono-v11-latin/jetbrains-mono-v11-latin-regular.woff") format('woff'),
       url("../fonts/jetbrains-mono-v11-latin/jetbrains-mono-v11-latin-regular.woff2") format('woff2');
       font-family: 'JetBrains_Mono';
       font-weight: 400;
}

@font-face {
  src: url("../fonts/jetbrains-mono-v11-latin/jetbrains-mono-v11-latin-600.woff") format('woff'),
       url("../fonts/jetbrains-mono-v11-latin/jetbrains-mono-v11-latin-600.woff2") format('woff2');
       font-family: 'JetBrains_Mono';
       font-weight: 600;
}

@font-face {
  src: url("../fonts/jetbrains-mono-v11-latin/jetbrains-mono-v11-latin-700.woff") format('woff'),
       url("../fonts/jetbrains-mono-v11-latin/jetbrains-mono-v11-latin-700.woff2") format('woff2');
       font-family: 'JetBrains_Mono';
       font-weight: 700;
}
