.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
  margin: auto;
  margin-top: 180px;
}

.form {
  min-width: 480px;
  text-align: center;
}

.form div {
  width: 100%;
}

.form div div div div {
  max-width: 24px;
}

.text button {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 10px;
  margin-right: 0;
}

.NotFoundImage {
  max-width: 700px;
  background-size: cover;
}

.buttonLink {
  text-decoration: none;
  font-family: JetBrains Mono;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #4C4CFF;
  text-align: center;
  padding: 0 0 0 8px;
}

.textLink {
  width: 480px;
  display: flex;
  justify-content: center;
}

.linkLogin {
  text-decoration: none;
   font-family: JetBrains Mono;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #4C4CFF;
  text-align: center;
  padding: 0 0 0 8px; 
}

.container {
  display: flex;
  flex-direction: column;
  width: 480px;
  margin: 180px auto 0 auto;
  align-items: center;
}