.App {
  text-align: center;
}

.AppHeader {
  background-color: #1c1c21;
  max-width: 1280px;
  margin: 0 auto;
  /* width: 100%; */
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.AppNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding-left: 320px;
  padding-right: 320px; */
}

.headerButton {
   display: flex;
 list-style-type: none;
  min-width: 56px;
  text-decoration: none;

}

.headerButton svg {
  stroke:inherit;
  stroke-width:inherit;
    fill:rgb(133, 133, 173)
}

.headerButton:hover svg{
  fill: #f2f2f3;
}

.headerButton:hover span{
  color: rgb(255, 255, 255);
}

.headerList {
  display: flex;
  padding: 0;
  align-items: center;
}

/* 
.headerText:hover {
  color: #8585AD;
  } */

.appLogo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .appLogo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes appLogo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-link {
  color: #61dafb;
}

.App-title {
  /* font-size: 25px; */
  /* color: #393a34; */
  font-family: "JetBrains_Mono", Arial, sans-serif;
  /*  margin: 5px 0; */
}

.activeNavLink {
  color: white;
}
