/* .BurgerConstructor {
  margin-right: 40px;
} */

/* .BurgerConstructor {
  margin-right: 40px;
} */

.elements {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.ElementsIngredients {
  display: flex;
  padding: 0;
  flex-direction: column;
  gap: 16px;
  overflow-y: scroll;
  max-height: 290px;
  scroll-snap-type: x proximity;
  width: 100%;
}

.ElementsIngredients::-webkit-scrollbar {
  width: 8px;
}

.ElementsIngredients::-webkit-scrollbar-track {
  background: #2f2f37;
}

.ElementsIngredients::-webkit-scrollbar-thumb {
  background-color: #8585ad;
  border: 3px solid #8585ad;
}

.ElementsItem {
  list-style-type: none;
  width: 100%;
  width: 568px;
  display: flex;
  align-items: center;

}

.ElementsConstructor {
  width: 100%;
  width: 488px;
}