.IngredientsImage {
  width: auto;
}
.IngredientsLists {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}

.IngredientsItem {
  position: relative;
  width: 272px;
}

.IngredientsItemPrice {
  display: flex;
  justify-content: center;
}

.IngredientsPrice {
  margin-top: 0;
  margin-bottom: 0;
}

.IngridientText {
  text-align: center;
}